{% extends 'system/baseb.html' %}

{% load static %}

{% block title %}Dados do Aluno{% endblock%}

{% block content %}

<table class="table">
	<thead>
		<tr>
			<th>Id do aluno</th>
			<th>Nome Completo</th>
			<th>Nascimento</th>
			<th>Idade</th>
			<th>RG</th>
			<th>CPF</th>
			<th>FOTO</th>
			<th>CADASTRADO EM</th>
			<th>ATUALIZADO EM</th>
		</tr>
	</thead>
	<tbody>
	{% for form in forms %}
		<tr>
			<th>{{form.id_aluno}}</th>
			<th>{{form.nome_completo}}</th>
			<th>{{form.nascimento|date:'d/m/Y'}}</th>
			<th>{{form.idade}}</th>
			<th>{{form.rg}}</th>
			<th>{{form.cpf}}</th>
			<th class="foto">
				{% if form.img %}
					<img src="{{ form.img.url }}" alt="{{form.nome}}">
				{% else %}
					<img src="{% static '_img/user.png' %} " alt="{{form.nome}}">
				{% endif %}
			</th>
			<th>{{form.data_cadastro}}</th>
			<th>{{form.data_ATUALIZACAO}}</th>
		</tr>
	
	{% endfor %}
	</tbody>
</table>

{% endblock %}