{% extends 'system/base.html' %}

{% load staticfiles %}

{% block title %} Lista de Aluno {% endblock %}

{% block content %}
<div class="offset-1 col-10 list-div">
	<h1>Lista de Alunos</h1>
	<a id="add-link" href="/aluno/cadastraluno">
		<div class="col-2 add-div">
			<i class="fas fa-plus"></i>Adicionar Aluno
		</div>
	</a>
	<div class="col-9 search-div">
		<!-- o methodo get para buscas</!-->
		<form method="GET" id="search-form">
			<input class="form-control" type="text" id="search" name="search" placeholder="Digite o nome do aluno para buscar" value="{{request.GET.search}}">
			<label for="search"><i class="fas fa-search" ></i></label>
	</form>
	</div>

	{% if messages %}
		<ul class="messages">
			{% for message in messages %}
				<li {% if message.tags %}class="alert alert-{{message.tags}}" {% endif %}>{{message}}</li>
			{% endfor %}

		</ul>
	{% endif %}
	
	<ul class="aluno-list">
		{% for aluno in alunos %}	
		<li class="aluno-item">
			<span><a href="/aluno/visualizaluno/{{ aluno.id_aluno }}">
			{{aluno.id_aluno}} {{aluno.nome_completo}}
			</a></span>
			<span><a href="/aluno/deletaluno/{{aluno.id_aluno}}" class="delete-btn"><i class="fas fa-trash"></i></a></span>
			<span><a href="/aluno/editcadastro/{{ aluno.id_aluno }}"><i class="fas fa-edit"></i></a></span>
		</li>
		{% endfor %}
	</ul>		
	<div class="pagination">
		<span class="step-links">
			{% if alunos.has_previous %}
				<a href="?page={{alunos.previous_page_number}}"><i class="fas fa-arrow-left"></i></a>
			{% endif %}
			
			{% if alunos.paginator %}
			<span class="corrent">
				{{alunos.number}} de {{alunos.paginator.num_pages}}
			</span>
			{% endif %}

			{% if alunos.has_next%}
				<a href="?page={{alunos.next_page_number}}"><i class="fas fa-arrow-right"></i></a>
			{% endif %}
		</span>
	</div>
	
</div>
{% endblock %}